{% extends "base.html" %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
    {% block style %}

    {% endblock %}
</style>
{% block jumbotron %}
    <div class="jumbotron">
        <div class="row">
            <div class='col-sm-6'>
                <h3>{% if title %}{{ title|upper }} {% endif %}</h3>
                <p>Open source Inventory Management Database </p>
                <p>
                    <a class="btn btn-lg btn-primary" href="" role="button">Get Moving &raquo;</a>
                </p>
            </div>
            <div class='col-sm-6' style="background-color:black;height:300px;">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class='col-md-4'>
            <p class='lead text-align-left'>Built with Django &amp; Bootstrap</p>
            {% if success_message %}
                <div class="alert alert-success" role="alert">{{ success_message }}</div>
            {% else %}
                {% if product_form %}
                    <form method="post" action=""> {% csrf_token %}
                        {{ product_form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Update Records"/>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        <div class='col-md-4'>
            <p class='lead text-align-left'>Manufacturer Data</p>
            <ul>
                {% for manufacturer in manufacturer_list %}
                    <li>{{ manufacturer.mfg_name }}</li>
                {% endfor %}
            </ul>

        </div>
        <div class='col-md-4'>
            <p class='lead text-align-left'>Product Data</p>
            <ul>
                {% for product in product_list %}
                    <li>{{ product.item_name }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
